@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nav-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}
.logo{    
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    font-family: "Saira Extra Condensed", serif;
    font-weight: 100;
    font-style: normal;
    justify-content: center;
    align-items: center;

}

header{
    position: fixed;
    top: 0;
}

.logo div img{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo span{
    color: #A42A2D;
}
.logo h1{
    display: flex;
    flex-direction: row;
    color: white;
    margin:0px 10px;
    width: 150px;
    font-size: 38px;
}
.menu{
    color: white;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: rgb(29, 35, 37);
    padding: 20px;
}

.menu li a{
    margin: 15px;
    font-size: 25px;
    font-family: "Saira Extra Condensed", serif;
    color: white;
    text-decoration: none;
    
}
.menu li a:hover{
    color: #A42A2D;
    cursor: pointer;
}
.chamada{
    
    height: 100vh;
    width: 100%;
    background-image: url(../img/moto.jpg);
    background-size: cover;
    background-position: center;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.73);   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
}
.chamada div h2{
    font-family: "Saira Extra Condensed", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
}
.chamada div h3{
    font-family: "Saira Extra Condensed", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 35px;
    width: 70%;
}
.chamada div a{
    text-decoration: none;
}
.overlay{
    display: flex;
    flex-direction: column;
}
.overlay img{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.overlay div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.overlay div:hover{
    cursor: pointer;
    background-color:  rgb(29, 35, 37);
    border-radius: 10px;
    padding: 5px;
}
.overlay p{
    font-family: "Saira Extra Condensed", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 35px;
    margin: 5px;
}

.servicos{
    width: 100%;
    height: 100vh;
}
footer{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

footer .box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: 20%;
}

footer .box h2{
    font-family: "Saira Extra Condensed", sans-serif;
    color: #A42A2D;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}
footer .box p{
    font-family: "Saira Extra Condensed", sans-serif;
    color: rgb(149, 149, 149);
    font-weight: 500;
    font-size: 23px;
}

.whatsapp{
    position: fixed; 
    bottom: 20px;    
    right: 20px;     
    height: 60px;
    width: 60px;
}