@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nav-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}
.logo{    
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    font-family: "Saira Extra Condensed", serif;
    font-weight: 100;
    font-style: normal;
    justify-content: center;
    align-items: center;

}

header{
    /* position: fixed;
    top: 0; */
    width: 100%;
}

.logo div img{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo span{
    color: #A42A2D;
}
.logo h1{
    display: flex;
    flex-direction: row;
    color: white;
    margin:0px 10px;
    width: 150px;
    font-size: 38px;
}
.menu{
    color: white;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: rgb(29, 35, 37);
    padding: 20px;
}

.menu li a{
    margin: 15px;
    font-size: 25px;
    font-family: "Saira Extra Condensed", serif;
    color: white;
    text-decoration: none;
    
}
.menu li a:hover{
    color: #A42A2D;
    cursor: pointer;
}
.mobile-menu-icon, .mobile-menu{
    display: none;
}
.chamada{    
    height: 100vh;
    width: 100%;
    background-image: url(../img/moto.jpg);
    background-size: cover;
    background-position: center;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.73);   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
}
.chamada div h2{
    font-family: "Saira Extra Condensed", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
}
.chamada div h3{
    font-family: "Saira Extra Condensed", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 35px;
    width: 70%;
}
.chamada div a{
    text-decoration: none;
}
.overlay{
    display: flex;
    flex-direction: column;
}
.overlay img{
    width: 50px;
    height: 50px;
    margin: 5px;
}
.overlay div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.overlay div:hover{
    cursor: pointer;
    background-color:  rgb(29, 35, 37);
    border-radius: 10px;
    padding: 5px;
}
.overlay p{
    font-family: "Saira Extra Condensed", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 35px;
    margin: 5px;
}

#revisoes{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.revisoes-box{
    background-color: rgb(29, 35, 37);
    height: 70%;
    width: 30%;
    margin: 50px;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.revisoes-box h2{
    color: #A42A2D;
    font-family:  "Saira Extra Condensed", sans-serif;
    font-size: 35px;
    margin: 0px 0px;
}
.revisoes-box h3{
    color: #A42A2D;
    font-family:  "Saira Extra Condensed", sans-serif;
    font-size: 20px;
    margin: 0px 0px;
}
.revisoes-box p{
    color: white;
    font-family:  "Saira Extra Condensed", sans-serif;
    font-size: 22px;
    line-height: 1.3;
}
#galeria {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;
    height: 100%;   
}
#galeria h2{
    font-family:  "Saira Extra Condensed", sans-serif;
    color: #A42A2D;
    font-weight: 500;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 0px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.galeria-box{
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .swiper{
    width: 100%;
    height: 100%;
  }
  
footer{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

footer .box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: 20%;
}

footer .box h2{
    font-family: "Saira Extra Condensed", sans-serif;
    color: #A42A2D;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}
footer .box p{
    font-family: "Saira Extra Condensed", sans-serif;
    color: rgb(149, 149, 149);
    font-weight: 500;
    font-size: 23px;
}

.whatsapp{
    position: fixed; 
    bottom: 20px;    
    right: 20px;     
    height: 60px;
    width: 60px;
    padding: 8px;
    border-radius: 10px;
}
.whatsapp:hover{
    background-color:rgb(29, 35, 37);
}

.instagram-media {
    transform: scale(0.8); /* Reduz o tamanho pela metade */
    transform-origin: center center; /* Define a origem do redimensionamento */
    margin: 0 auto; /* Centraliza o conteúdo, opcional */
  }


   @media screen and (max-width: 730px) {
    body{
        overflow-x: hidden;
        max-width: 100vw;
    }
    header{
        width: 100%;
    }
    .menu{
        display: none;
    }
    .nav-container{
        max-width: 100%;
    }
    .logo{
        width: 80%;
    }
    .mobile-menu-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        background-color: #A42A2D;
    }
    .mobile-menu-icon button{
        border: none;
        background-color: #A42A2D;
    }

    .overlay{
        padding: 20px;
    }

    .chamada div h2{
        font-weight: 500;
        font-size: 30px;
    }
    .chamada div h3{
        font-weight: 500;
        font-size: 25px;
        width:100%;
    }
    .chamada p{
        font-size: 25px;
    }
    .chamada img{
        width: 40px;
        height: 40px;
    }

    #revisoes{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .revisoes-box{
        width: 80%;
        height: auto;
        padding: 40px;
    }
} 